@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');



/* utility */
html.sr .load-hidden {
    visibility: hidden;
    font-family: 'Montserrat', sans-serif;
  }
  
  .widget-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background: black;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .widget {
    width: 15%;
    height: 50px;
    flex: auto;
    margin: 0.5rem;
    background: white;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* extension */
  html.sr .widget {
    visibility: hidden;
    font-family: 'Montserrat', sans-serif;
  }

  h1 {
      font-size: 3rem;
      font-weight: 800;
  }

  .headline {
    font-weight: 700;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;

  }

  .img1 {
      width: 600px;
  }

  .img2 {
    width: 600px;
}

.img3 {
    width: 600px;
}
  
.container {
    width: 600px;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: justify;
    
}
h2 {
    font-size: 14px;
}